<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saachi.whatsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Chat"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.saachi.whatsapp.MessageActivity"/>
        <activity android:name="com.saachi.whatsapp.Fragments.UsersFragment" />
        <activity android:name="com.saachi.whatsapp.Fragments.ProfileFragment" />
        <activity android:name="com.saachi.whatsapp.Fragments.ChatsFragment" />
        <activity android:name="com.saachi.whatsapp.ResetPasswordActivity" />
        <activity android:name="com.saachi.whatsapp.RegisterActivity" />
        <activity android:name="com.saachi.whatsapp.LoginActivity" />
        <activity android:name="com.saachi.whatsapp.MainActivity" >

        </activity>
        <activity android:name="com.saachi.whatsapp.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.START" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>